/* line 58, velvet.scss */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* line 66, velvet.scss */
.v-grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  width: 100%;
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  padding: 1.5rem;
  grid-template-rows: auto;
}

/* line 78, velvet.scss */
.v-grid[data-flow='column'] {
  grid-auto-flow: column;
}

/* line 82, velvet.scss */
.v-grid[data-flow='row'] {
  grid-auto-flow: row;
}

/* line 86, velvet.scss */
.v-grid[data-max-width='disable'] {
  max-width: none !important;
}

/* line 90, velvet.scss */
.v-grid[data-gap-grid='disable'] {
  padding: 0 !important;
}

/* line 94, velvet.scss */
.v-grid[data-gap-column='disable'] {
  grid-column-gap: 0 !important;
}

/* line 98, velvet.scss */
.v-grid[data-gap-row='disable'] {
  grid-row-gap: 0 !important;
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='1'] {
  grid-template-columns: repeat(1, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='2'] {
  grid-template-columns: repeat(2, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='3'] {
  grid-template-columns: repeat(3, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='4'] {
  grid-template-columns: repeat(4, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='5'] {
  grid-template-columns: repeat(5, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='6'] {
  grid-template-columns: repeat(6, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='7'] {
  grid-template-columns: repeat(7, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='8'] {
  grid-template-columns: repeat(8, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='9'] {
  grid-template-columns: repeat(9, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='10'] {
  grid-template-columns: repeat(10, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='11'] {
  grid-template-columns: repeat(11, 1fr);
}

/* line 104, velvet.scss */
.v-grid[data-xs-columns='12'] {
  grid-template-columns: repeat(12, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='1'] {
  grid-template-rows: repeat(1, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='2'] {
  grid-template-rows: repeat(2, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='3'] {
  grid-template-rows: repeat(3, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='4'] {
  grid-template-rows: repeat(4, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='5'] {
  grid-template-rows: repeat(5, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='6'] {
  grid-template-rows: repeat(6, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='7'] {
  grid-template-rows: repeat(7, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='8'] {
  grid-template-rows: repeat(8, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='9'] {
  grid-template-rows: repeat(9, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='10'] {
  grid-template-rows: repeat(10, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='11'] {
  grid-template-rows: repeat(11, 1fr);
}

/* line 111, velvet.scss */
.v-grid[data-xs-rows='12'] {
  grid-template-rows: repeat(12, 1fr);
}

/* line 117, velvet.scss */
.v-grid[data-xs-align-items='stretch'] {
  align-items: stretch;
}

/* line 121, velvet.scss */
.v-grid[data-xs-align-items='center'] {
  align-items: center;
}

/* line 125, velvet.scss */
.v-grid[data-xs-align-items='start'] {
  align-items: start;
}

/* line 129, velvet.scss */
.v-grid[data-xs-align-items='end'] {
  align-items: end;
}

/* line 133, velvet.scss */
.v-grid[data-xs-justify-items='stretch'] {
  justify-items: stretch;
}

/* line 137, velvet.scss */
.v-grid[data-xs-justify-items='center'] {
  justify-items: center;
}

/* line 141, velvet.scss */
.v-grid[data-xs-justify-items='start'] {
  justify-items: start;
}

/* line 145, velvet.scss */
.v-grid[data-xs-justify-items='end'] {
  justify-items: end;
}

@media (min-width: 600px) {
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='1'] {
    grid-template-columns: repeat(1, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='2'] {
    grid-template-columns: repeat(2, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='3'] {
    grid-template-columns: repeat(3, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='4'] {
    grid-template-columns: repeat(4, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='5'] {
    grid-template-columns: repeat(5, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='6'] {
    grid-template-columns: repeat(6, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='7'] {
    grid-template-columns: repeat(7, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='8'] {
    grid-template-columns: repeat(8, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='9'] {
    grid-template-columns: repeat(9, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='10'] {
    grid-template-columns: repeat(10, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='11'] {
    grid-template-columns: repeat(11, 1fr);
  }
  /* line 153, velvet.scss */
  .v-grid[data-sm-columns='12'] {
    grid-template-columns: repeat(12, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='1'] {
    grid-template-rows: repeat(1, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='2'] {
    grid-template-rows: repeat(2, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='3'] {
    grid-template-rows: repeat(3, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='4'] {
    grid-template-rows: repeat(4, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='5'] {
    grid-template-rows: repeat(5, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='6'] {
    grid-template-rows: repeat(6, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='7'] {
    grid-template-rows: repeat(7, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='8'] {
    grid-template-rows: repeat(8, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='9'] {
    grid-template-rows: repeat(9, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='10'] {
    grid-template-rows: repeat(10, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='11'] {
    grid-template-rows: repeat(11, 1fr);
  }
  /* line 160, velvet.scss */
  .v-grid[data-sm-rows='12'] {
    grid-template-rows: repeat(12, 1fr);
  }
  /* line 166, velvet.scss */
  .v-grid[data-sm-align-items='stretch'] {
    align-items: stretch;
  }
  /* line 170, velvet.scss */
  .v-grid[data-sm-align-items='center'] {
    align-items: center;
  }
  /* line 174, velvet.scss */
  .v-grid[data-sm-align-items='start'] {
    align-items: start;
  }
  /* line 178, velvet.scss */
  .v-grid[data-sm-align-items='end'] {
    align-items: end;
  }
  /* line 182, velvet.scss */
  .v-grid[data-sm-justify-items='stretch'] {
    justify-items: stretch;
  }
  /* line 186, velvet.scss */
  .v-grid[data-sm-justify-items='center'] {
    justify-items: center;
  }
  /* line 190, velvet.scss */
  .v-grid[data-sm-justify-items='start'] {
    justify-items: start;
  }
  /* line 194, velvet.scss */
  .v-grid[data-sm-justify-items='end'] {
    justify-items: end;
  }
}

@media (min-width: 900px) {
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='1'] {
    grid-template-columns: repeat(1, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='2'] {
    grid-template-columns: repeat(2, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='3'] {
    grid-template-columns: repeat(3, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='4'] {
    grid-template-columns: repeat(4, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='5'] {
    grid-template-columns: repeat(5, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='6'] {
    grid-template-columns: repeat(6, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='7'] {
    grid-template-columns: repeat(7, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='8'] {
    grid-template-columns: repeat(8, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='9'] {
    grid-template-columns: repeat(9, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='10'] {
    grid-template-columns: repeat(10, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='11'] {
    grid-template-columns: repeat(11, 1fr);
  }
  /* line 204, velvet.scss */
  .v-grid[data-md-columns='12'] {
    grid-template-columns: repeat(12, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='1'] {
    grid-template-rows: repeat(1, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='2'] {
    grid-template-rows: repeat(2, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='3'] {
    grid-template-rows: repeat(3, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='4'] {
    grid-template-rows: repeat(4, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='5'] {
    grid-template-rows: repeat(5, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='6'] {
    grid-template-rows: repeat(6, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='7'] {
    grid-template-rows: repeat(7, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='8'] {
    grid-template-rows: repeat(8, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='9'] {
    grid-template-rows: repeat(9, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='10'] {
    grid-template-rows: repeat(10, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='11'] {
    grid-template-rows: repeat(11, 1fr);
  }
  /* line 211, velvet.scss */
  .v-grid[data-md-rows='12'] {
    grid-template-rows: repeat(12, 1fr);
  }
  /* line 217, velvet.scss */
  .v-grid[data-md-align-items='stretch'] {
    align-items: stretch;
  }
  /* line 221, velvet.scss */
  .v-grid[data-md-align-items='center'] {
    align-items: center;
  }
  /* line 225, velvet.scss */
  .v-grid[data-md-align-items='start'] {
    align-items: start;
  }
  /* line 229, velvet.scss */
  .v-grid[data-md-align-items='end'] {
    align-items: end;
  }
  /* line 233, velvet.scss */
  .v-grid[data-md-justify-items='stretch'] {
    justify-items: stretch;
  }
  /* line 237, velvet.scss */
  .v-grid[data-md-justify-items='center'] {
    justify-items: center;
  }
  /* line 241, velvet.scss */
  .v-grid[data-md-justify-items='start'] {
    justify-items: start;
  }
  /* line 245, velvet.scss */
  .v-grid[data-md-justify-items='end'] {
    justify-items: end;
  }
}

@media (min-width: 1200px) {
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='1'] {
    grid-template-columns: repeat(1, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='2'] {
    grid-template-columns: repeat(2, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='3'] {
    grid-template-columns: repeat(3, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='4'] {
    grid-template-columns: repeat(4, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='5'] {
    grid-template-columns: repeat(5, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='6'] {
    grid-template-columns: repeat(6, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='7'] {
    grid-template-columns: repeat(7, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='8'] {
    grid-template-columns: repeat(8, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='9'] {
    grid-template-columns: repeat(9, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='10'] {
    grid-template-columns: repeat(10, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='11'] {
    grid-template-columns: repeat(11, 1fr);
  }
  /* line 255, velvet.scss */
  .v-grid[data-lg-columns='12'] {
    grid-template-columns: repeat(12, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='1'] {
    grid-template-rows: repeat(1, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='2'] {
    grid-template-rows: repeat(2, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='3'] {
    grid-template-rows: repeat(3, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='4'] {
    grid-template-rows: repeat(4, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='5'] {
    grid-template-rows: repeat(5, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='6'] {
    grid-template-rows: repeat(6, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='7'] {
    grid-template-rows: repeat(7, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='8'] {
    grid-template-rows: repeat(8, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='9'] {
    grid-template-rows: repeat(9, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='10'] {
    grid-template-rows: repeat(10, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='11'] {
    grid-template-rows: repeat(11, 1fr);
  }
  /* line 262, velvet.scss */
  .v-grid[data-lg-rows='12'] {
    grid-template-rows: repeat(12, 1fr);
  }
  /* line 268, velvet.scss */
  .v-grid[data-lg-align-items='stretch'] {
    align-items: stretch;
  }
  /* line 272, velvet.scss */
  .v-grid[data-lg-align-items='center'] {
    align-items: center;
  }
  /* line 276, velvet.scss */
  .v-grid[data-lg-align-items='start'] {
    align-items: start;
  }
  /* line 280, velvet.scss */
  .v-grid[data-lg-align-items='end'] {
    align-items: end;
  }
  /* line 284, velvet.scss */
  .v-grid[data-lg-justify-items='stretch'] {
    justify-items: stretch;
  }
  /* line 288, velvet.scss */
  .v-grid[data-lg-justify-items='center'] {
    justify-items: center;
  }
  /* line 292, velvet.scss */
  .v-grid[data-lg-justify-items='start'] {
    justify-items: start;
  }
  /* line 296, velvet.scss */
  .v-grid[data-lg-justify-items='end'] {
    justify-items: end;
  }
}

@media (min-width: 1800px) {
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='1'] {
    grid-template-columns: repeat(1, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='2'] {
    grid-template-columns: repeat(2, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='3'] {
    grid-template-columns: repeat(3, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='4'] {
    grid-template-columns: repeat(4, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='5'] {
    grid-template-columns: repeat(5, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='6'] {
    grid-template-columns: repeat(6, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='7'] {
    grid-template-columns: repeat(7, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='8'] {
    grid-template-columns: repeat(8, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='9'] {
    grid-template-columns: repeat(9, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='10'] {
    grid-template-columns: repeat(10, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='11'] {
    grid-template-columns: repeat(11, 1fr);
  }
  /* line 306, velvet.scss */
  .v-grid[data-xl-columns='12'] {
    grid-template-columns: repeat(12, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='1'] {
    grid-template-rows: repeat(1, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='2'] {
    grid-template-rows: repeat(2, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='3'] {
    grid-template-rows: repeat(3, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='4'] {
    grid-template-rows: repeat(4, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='5'] {
    grid-template-rows: repeat(5, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='6'] {
    grid-template-rows: repeat(6, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='7'] {
    grid-template-rows: repeat(7, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='8'] {
    grid-template-rows: repeat(8, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='9'] {
    grid-template-rows: repeat(9, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='10'] {
    grid-template-rows: repeat(10, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='11'] {
    grid-template-rows: repeat(11, 1fr);
  }
  /* line 313, velvet.scss */
  .v-grid[data-xl-rows='12'] {
    grid-template-rows: repeat(12, 1fr);
  }
  /* line 319, velvet.scss */
  .v-grid[data-xl-align-items='stretch'] {
    align-items: stretch;
  }
  /* line 323, velvet.scss */
  .v-grid[data-xl-align-items='center'] {
    align-items: center;
  }
  /* line 327, velvet.scss */
  .v-grid[data-xl-align-items='start'] {
    align-items: start;
  }
  /* line 331, velvet.scss */
  .v-grid[data-xl-align-items='end'] {
    align-items: end;
  }
  /* line 335, velvet.scss */
  .v-grid[data-xl-justify-items='stretch'] {
    justify-items: stretch;
  }
  /* line 339, velvet.scss */
  .v-grid[data-xl-justify-items='center'] {
    justify-items: center;
  }
  /* line 343, velvet.scss */
  .v-grid[data-xl-justify-items='start'] {
    justify-items: start;
  }
  /* line 347, velvet.scss */
  .v-grid[data-xl-justify-items='end'] {
    justify-items: end;
  }
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='1'] {
  grid-column: span 1;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='2'] {
  grid-column: span 2;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='3'] {
  grid-column: span 3;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='4'] {
  grid-column: span 4;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='5'] {
  grid-column: span 5;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='6'] {
  grid-column: span 6;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='7'] {
  grid-column: span 7;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='8'] {
  grid-column: span 8;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='9'] {
  grid-column: span 9;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='10'] {
  grid-column: span 10;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='11'] {
  grid-column: span 11;
}

/* line 358, velvet.scss */
.v-cell[data-xs-column-span='12'] {
  grid-column: span 12;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='1'] {
  grid-column-start: 1;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='2'] {
  grid-column-start: 2;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='3'] {
  grid-column-start: 3;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='4'] {
  grid-column-start: 4;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='5'] {
  grid-column-start: 5;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='6'] {
  grid-column-start: 6;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='7'] {
  grid-column-start: 7;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='8'] {
  grid-column-start: 8;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='9'] {
  grid-column-start: 9;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='10'] {
  grid-column-start: 10;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='11'] {
  grid-column-start: 11;
}

/* line 365, velvet.scss */
.v-cell[data-xs-column-start='12'] {
  grid-column-start: 12;
}

/* line 369, velvet.scss */
.v-cell[data-xs-column-start='first'] {
  grid-column-start: first;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='1'] {
  grid-column-end: 1;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='2'] {
  grid-column-end: 2;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='3'] {
  grid-column-end: 3;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='4'] {
  grid-column-end: 4;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='5'] {
  grid-column-end: 5;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='6'] {
  grid-column-end: 6;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='7'] {
  grid-column-end: 7;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='8'] {
  grid-column-end: 8;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='9'] {
  grid-column-end: 9;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='10'] {
  grid-column-end: 10;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='11'] {
  grid-column-end: 11;
}

/* line 375, velvet.scss */
.v-cell[data-xs-column-end='12'] {
  grid-column-end: 12;
}

/* line 379, velvet.scss */
.v-cell[data-xs-column-end='end'] {
  grid-column-end: end;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='1'] {
  grid-row: span 1;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='2'] {
  grid-row: span 2;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='3'] {
  grid-row: span 3;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='4'] {
  grid-row: span 4;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='5'] {
  grid-row: span 5;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='6'] {
  grid-row: span 6;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='7'] {
  grid-row: span 7;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='8'] {
  grid-row: span 8;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='9'] {
  grid-row: span 9;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='10'] {
  grid-row: span 10;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='11'] {
  grid-row: span 11;
}

/* line 385, velvet.scss */
.v-cell[data-xs-row-span='12'] {
  grid-row: span 12;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='1'] {
  grid-row-start: 1;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='2'] {
  grid-row-start: 2;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='3'] {
  grid-row-start: 3;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='4'] {
  grid-row-start: 4;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='5'] {
  grid-row-start: 5;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='6'] {
  grid-row-start: 6;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='7'] {
  grid-row-start: 7;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='8'] {
  grid-row-start: 8;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='9'] {
  grid-row-start: 9;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='10'] {
  grid-row-start: 10;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='11'] {
  grid-row-start: 11;
}

/* line 392, velvet.scss */
.v-cell[data-xs-row-start='12'] {
  grid-row-start: 12;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='1'] {
  grid-row-end: 1;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='2'] {
  grid-row-end: 2;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='3'] {
  grid-row-end: 3;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='4'] {
  grid-row-end: 4;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='5'] {
  grid-row-end: 5;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='6'] {
  grid-row-end: 6;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='7'] {
  grid-row-end: 7;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='8'] {
  grid-row-end: 8;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='9'] {
  grid-row-end: 9;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='10'] {
  grid-row-end: 10;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='11'] {
  grid-row-end: 11;
}

/* line 399, velvet.scss */
.v-cell[data-xs-row-end='12'] {
  grid-row-end: 12;
}

/* line 405, velvet.scss */
.v-cell[data-xs-align-self='stretch'] {
  align-self: stretch;
}

/* line 409, velvet.scss */
.v-cell[data-xs-align-self='center'] {
  align-self: center;
}

/* line 413, velvet.scss */
.v-cell[data-xs-align-self='start'] {
  align-self: start;
}

/* line 417, velvet.scss */
.v-cell[data-xs-align-self='end'] {
  align-self: end;
}

/* line 421, velvet.scss */
.v-cell[data-xs-justify-self='stretch'] {
  justify-self: stretch;
}

/* line 425, velvet.scss */
.v-cell[data-xs-justify-self='center'] {
  justify-self: center;
}

/* line 429, velvet.scss */
.v-cell[data-xs-justify-self='start'] {
  justify-self: start;
}

/* line 433, velvet.scss */
.v-cell[data-xs-justify-self='end'] {
  justify-self: end;
}

@media (min-width: 600px) {
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='1'] {
    grid-column: span 1;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='2'] {
    grid-column: span 2;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='3'] {
    grid-column: span 3;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='4'] {
    grid-column: span 4;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='5'] {
    grid-column: span 5;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='6'] {
    grid-column: span 6;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='7'] {
    grid-column: span 7;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='8'] {
    grid-column: span 8;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='9'] {
    grid-column: span 9;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='10'] {
    grid-column: span 10;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='11'] {
    grid-column: span 11;
  }
  /* line 441, velvet.scss */
  .v-cell[data-sm-column-span='12'] {
    grid-column: span 12;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='1'] {
    grid-column-start: 1;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='2'] {
    grid-column-start: 2;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='3'] {
    grid-column-start: 3;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='4'] {
    grid-column-start: 4;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='5'] {
    grid-column-start: 5;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='6'] {
    grid-column-start: 6;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='7'] {
    grid-column-start: 7;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='8'] {
    grid-column-start: 8;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='9'] {
    grid-column-start: 9;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='10'] {
    grid-column-start: 10;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='11'] {
    grid-column-start: 11;
  }
  /* line 448, velvet.scss */
  .v-cell[data-sm-column-start='12'] {
    grid-column-start: 12;
  }
  /* line 452, velvet.scss */
  .v-cell[data-sm-column-start='first'] {
    grid-column-start: first;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='1'] {
    grid-column-end: 1;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='2'] {
    grid-column-end: 2;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='3'] {
    grid-column-end: 3;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='4'] {
    grid-column-end: 4;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='5'] {
    grid-column-end: 5;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='6'] {
    grid-column-end: 6;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='7'] {
    grid-column-end: 7;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='8'] {
    grid-column-end: 8;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='9'] {
    grid-column-end: 9;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='10'] {
    grid-column-end: 10;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='11'] {
    grid-column-end: 11;
  }
  /* line 458, velvet.scss */
  .v-cell[data-sm-column-end='12'] {
    grid-column-end: 12;
  }
  /* line 462, velvet.scss */
  .v-cell[data-sm-column-end='end'] {
    grid-column-end: end;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='1'] {
    grid-row: span 1;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='2'] {
    grid-row: span 2;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='3'] {
    grid-row: span 3;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='4'] {
    grid-row: span 4;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='5'] {
    grid-row: span 5;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='6'] {
    grid-row: span 6;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='7'] {
    grid-row: span 7;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='8'] {
    grid-row: span 8;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='9'] {
    grid-row: span 9;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='10'] {
    grid-row: span 10;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='11'] {
    grid-row: span 11;
  }
  /* line 468, velvet.scss */
  .v-cell[data-sm-row-span='12'] {
    grid-row: span 12;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='1'] {
    grid-row-start: 1;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='2'] {
    grid-row-start: 2;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='3'] {
    grid-row-start: 3;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='4'] {
    grid-row-start: 4;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='5'] {
    grid-row-start: 5;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='6'] {
    grid-row-start: 6;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='7'] {
    grid-row-start: 7;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='8'] {
    grid-row-start: 8;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='9'] {
    grid-row-start: 9;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='10'] {
    grid-row-start: 10;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='11'] {
    grid-row-start: 11;
  }
  /* line 475, velvet.scss */
  .v-cell[data-sm-row-start='12'] {
    grid-row-start: 12;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='1'] {
    grid-row-end: 1;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='2'] {
    grid-row-end: 2;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='3'] {
    grid-row-end: 3;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='4'] {
    grid-row-end: 4;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='5'] {
    grid-row-end: 5;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='6'] {
    grid-row-end: 6;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='7'] {
    grid-row-end: 7;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='8'] {
    grid-row-end: 8;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='9'] {
    grid-row-end: 9;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='10'] {
    grid-row-end: 10;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='11'] {
    grid-row-end: 11;
  }
  /* line 482, velvet.scss */
  .v-cell[data-sm-row-end='12'] {
    grid-row-end: 12;
  }
  /* line 488, velvet.scss */
  .v-cell[data-sm-align-self='stretch'] {
    align-self: stretch;
  }
  /* line 492, velvet.scss */
  .v-cell[data-sm-align-self='center'] {
    align-self: center;
  }
  /* line 496, velvet.scss */
  .v-cell[data-sm-align-self='start'] {
    align-self: start;
  }
  /* line 500, velvet.scss */
  .v-cell[data-sm-align-self='end'] {
    align-self: end;
  }
  /* line 504, velvet.scss */
  .v-cell[data-sm-justify-self='stretch'] {
    justify-self: stretch;
  }
  /* line 508, velvet.scss */
  .v-cell[data-sm-justify-self='center'] {
    justify-self: center;
  }
  /* line 512, velvet.scss */
  .v-cell[data-sm-justify-self='start'] {
    justify-self: start;
  }
  /* line 516, velvet.scss */
  .v-cell[data-sm-justify-self='end'] {
    justify-self: end;
  }
}

@media (min-width: 900px) {
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='1'] {
    grid-column: span 1;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='2'] {
    grid-column: span 2;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='3'] {
    grid-column: span 3;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='4'] {
    grid-column: span 4;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='5'] {
    grid-column: span 5;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='6'] {
    grid-column: span 6;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='7'] {
    grid-column: span 7;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='8'] {
    grid-column: span 8;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='9'] {
    grid-column: span 9;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='10'] {
    grid-column: span 10;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='11'] {
    grid-column: span 11;
  }
  /* line 526, velvet.scss */
  .v-cell[data-md-column-span='12'] {
    grid-column: span 12;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='1'] {
    grid-column-start: 1;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='2'] {
    grid-column-start: 2;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='3'] {
    grid-column-start: 3;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='4'] {
    grid-column-start: 4;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='5'] {
    grid-column-start: 5;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='6'] {
    grid-column-start: 6;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='7'] {
    grid-column-start: 7;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='8'] {
    grid-column-start: 8;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='9'] {
    grid-column-start: 9;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='10'] {
    grid-column-start: 10;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='11'] {
    grid-column-start: 11;
  }
  /* line 533, velvet.scss */
  .v-cell[data-md-column-start='12'] {
    grid-column-start: 12;
  }
  /* line 537, velvet.scss */
  .v-cell[data-md-column-start='first'] {
    grid-column-start: first;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='1'] {
    grid-column-end: 1;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='2'] {
    grid-column-end: 2;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='3'] {
    grid-column-end: 3;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='4'] {
    grid-column-end: 4;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='5'] {
    grid-column-end: 5;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='6'] {
    grid-column-end: 6;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='7'] {
    grid-column-end: 7;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='8'] {
    grid-column-end: 8;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='9'] {
    grid-column-end: 9;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='10'] {
    grid-column-end: 10;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='11'] {
    grid-column-end: 11;
  }
  /* line 543, velvet.scss */
  .v-cell[data-md-column-end='12'] {
    grid-column-end: 12;
  }
  /* line 547, velvet.scss */
  .v-cell[data-md-column-end='end'] {
    grid-column-end: end;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='1'] {
    grid-row: span 1;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='2'] {
    grid-row: span 2;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='3'] {
    grid-row: span 3;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='4'] {
    grid-row: span 4;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='5'] {
    grid-row: span 5;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='6'] {
    grid-row: span 6;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='7'] {
    grid-row: span 7;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='8'] {
    grid-row: span 8;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='9'] {
    grid-row: span 9;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='10'] {
    grid-row: span 10;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='11'] {
    grid-row: span 11;
  }
  /* line 553, velvet.scss */
  .v-cell[data-md-row-span='12'] {
    grid-row: span 12;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='1'] {
    grid-row-start: 1;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='2'] {
    grid-row-start: 2;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='3'] {
    grid-row-start: 3;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='4'] {
    grid-row-start: 4;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='5'] {
    grid-row-start: 5;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='6'] {
    grid-row-start: 6;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='7'] {
    grid-row-start: 7;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='8'] {
    grid-row-start: 8;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='9'] {
    grid-row-start: 9;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='10'] {
    grid-row-start: 10;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='11'] {
    grid-row-start: 11;
  }
  /* line 560, velvet.scss */
  .v-cell[data-md-row-start='12'] {
    grid-row-start: 12;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='1'] {
    grid-row-end: 1;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='2'] {
    grid-row-end: 2;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='3'] {
    grid-row-end: 3;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='4'] {
    grid-row-end: 4;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='5'] {
    grid-row-end: 5;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='6'] {
    grid-row-end: 6;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='7'] {
    grid-row-end: 7;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='8'] {
    grid-row-end: 8;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='9'] {
    grid-row-end: 9;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='10'] {
    grid-row-end: 10;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='11'] {
    grid-row-end: 11;
  }
  /* line 567, velvet.scss */
  .v-cell[data-md-row-end='12'] {
    grid-row-end: 12;
  }
  /* line 573, velvet.scss */
  .v-cell[data-md-align-self='stretch'] {
    align-self: stretch;
  }
  /* line 577, velvet.scss */
  .v-cell[data-md-align-self='center'] {
    align-self: center;
  }
  /* line 581, velvet.scss */
  .v-cell[data-md-align-self='start'] {
    align-self: start;
  }
  /* line 585, velvet.scss */
  .v-cell[data-md-align-self='end'] {
    align-self: end;
  }
  /* line 589, velvet.scss */
  .v-cell[data-md-justify-self='stretch'] {
    justify-self: stretch;
  }
  /* line 593, velvet.scss */
  .v-cell[data-md-justify-self='center'] {
    justify-self: center;
  }
  /* line 597, velvet.scss */
  .v-cell[data-md-justify-self='start'] {
    justify-self: start;
  }
  /* line 601, velvet.scss */
  .v-cell[data-md-justify-self='end'] {
    justify-self: end;
  }
}

@media (min-width: 1200px) {
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='1'] {
    grid-column: span 1;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='2'] {
    grid-column: span 2;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='3'] {
    grid-column: span 3;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='4'] {
    grid-column: span 4;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='5'] {
    grid-column: span 5;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='6'] {
    grid-column: span 6;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='7'] {
    grid-column: span 7;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='8'] {
    grid-column: span 8;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='9'] {
    grid-column: span 9;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='10'] {
    grid-column: span 10;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='11'] {
    grid-column: span 11;
  }
  /* line 611, velvet.scss */
  .v-cell[data-lg-column-span='12'] {
    grid-column: span 12;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='1'] {
    grid-column-start: 1;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='2'] {
    grid-column-start: 2;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='3'] {
    grid-column-start: 3;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='4'] {
    grid-column-start: 4;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='5'] {
    grid-column-start: 5;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='6'] {
    grid-column-start: 6;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='7'] {
    grid-column-start: 7;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='8'] {
    grid-column-start: 8;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='9'] {
    grid-column-start: 9;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='10'] {
    grid-column-start: 10;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='11'] {
    grid-column-start: 11;
  }
  /* line 618, velvet.scss */
  .v-cell[data-lg-column-start='12'] {
    grid-column-start: 12;
  }
  /* line 622, velvet.scss */
  .v-cell[data-lg-column-start='first'] {
    grid-column-start: first;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='1'] {
    grid-column-end: 1;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='2'] {
    grid-column-end: 2;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='3'] {
    grid-column-end: 3;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='4'] {
    grid-column-end: 4;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='5'] {
    grid-column-end: 5;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='6'] {
    grid-column-end: 6;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='7'] {
    grid-column-end: 7;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='8'] {
    grid-column-end: 8;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='9'] {
    grid-column-end: 9;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='10'] {
    grid-column-end: 10;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='11'] {
    grid-column-end: 11;
  }
  /* line 628, velvet.scss */
  .v-cell[data-lg-column-end='12'] {
    grid-column-end: 12;
  }
  /* line 632, velvet.scss */
  .v-cell[data-lg-column-end='end'] {
    grid-column-end: end;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='1'] {
    grid-row: span 1;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='2'] {
    grid-row: span 2;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='3'] {
    grid-row: span 3;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='4'] {
    grid-row: span 4;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='5'] {
    grid-row: span 5;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='6'] {
    grid-row: span 6;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='7'] {
    grid-row: span 7;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='8'] {
    grid-row: span 8;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='9'] {
    grid-row: span 9;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='10'] {
    grid-row: span 10;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='11'] {
    grid-row: span 11;
  }
  /* line 638, velvet.scss */
  .v-cell[data-lg-row-span='12'] {
    grid-row: span 12;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='1'] {
    grid-row-start: 1;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='2'] {
    grid-row-start: 2;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='3'] {
    grid-row-start: 3;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='4'] {
    grid-row-start: 4;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='5'] {
    grid-row-start: 5;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='6'] {
    grid-row-start: 6;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='7'] {
    grid-row-start: 7;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='8'] {
    grid-row-start: 8;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='9'] {
    grid-row-start: 9;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='10'] {
    grid-row-start: 10;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='11'] {
    grid-row-start: 11;
  }
  /* line 645, velvet.scss */
  .v-cell[data-lg-row-start='12'] {
    grid-row-start: 12;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='1'] {
    grid-row-end: 1;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='2'] {
    grid-row-end: 2;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='3'] {
    grid-row-end: 3;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='4'] {
    grid-row-end: 4;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='5'] {
    grid-row-end: 5;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='6'] {
    grid-row-end: 6;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='7'] {
    grid-row-end: 7;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='8'] {
    grid-row-end: 8;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='9'] {
    grid-row-end: 9;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='10'] {
    grid-row-end: 10;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='11'] {
    grid-row-end: 11;
  }
  /* line 652, velvet.scss */
  .v-cell[data-lg-row-end='12'] {
    grid-row-end: 12;
  }
  /* line 658, velvet.scss */
  .v-cell[data-lg-align-self='stretch'] {
    align-self: stretch;
  }
  /* line 662, velvet.scss */
  .v-cell[data-lg-align-self='center'] {
    align-self: center;
  }
  /* line 666, velvet.scss */
  .v-cell[data-lg-align-self='start'] {
    align-self: start;
  }
  /* line 670, velvet.scss */
  .v-cell[data-lg-align-self='end'] {
    align-self: end;
  }
  /* line 674, velvet.scss */
  .v-cell[data-lg-justify-self='stretch'] {
    justify-self: stretch;
  }
  /* line 678, velvet.scss */
  .v-cell[data-lg-justify-self='center'] {
    justify-self: center;
  }
  /* line 682, velvet.scss */
  .v-cell[data-lg-justify-self='start'] {
    justify-self: start;
  }
  /* line 686, velvet.scss */
  .v-cell[data-lg-justify-self='end'] {
    justify-self: end;
  }
}

@media (min-width: 1800px) {
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='1'] {
    grid-column: span 1;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='2'] {
    grid-column: span 2;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='3'] {
    grid-column: span 3;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='4'] {
    grid-column: span 4;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='5'] {
    grid-column: span 5;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='6'] {
    grid-column: span 6;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='7'] {
    grid-column: span 7;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='8'] {
    grid-column: span 8;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='9'] {
    grid-column: span 9;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='10'] {
    grid-column: span 10;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='11'] {
    grid-column: span 11;
  }
  /* line 696, velvet.scss */
  .v-cell[data-xl-column-span='12'] {
    grid-column: span 12;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='1'] {
    grid-column-start: 1;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='2'] {
    grid-column-start: 2;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='3'] {
    grid-column-start: 3;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='4'] {
    grid-column-start: 4;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='5'] {
    grid-column-start: 5;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='6'] {
    grid-column-start: 6;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='7'] {
    grid-column-start: 7;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='8'] {
    grid-column-start: 8;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='9'] {
    grid-column-start: 9;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='10'] {
    grid-column-start: 10;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='11'] {
    grid-column-start: 11;
  }
  /* line 703, velvet.scss */
  .v-cell[data-xl-column-start='12'] {
    grid-column-start: 12;
  }
  /* line 707, velvet.scss */
  .v-cell[data-xl-column-start='first'] {
    grid-column-start: first;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='1'] {
    grid-column-end: 1;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='2'] {
    grid-column-end: 2;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='3'] {
    grid-column-end: 3;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='4'] {
    grid-column-end: 4;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='5'] {
    grid-column-end: 5;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='6'] {
    grid-column-end: 6;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='7'] {
    grid-column-end: 7;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='8'] {
    grid-column-end: 8;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='9'] {
    grid-column-end: 9;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='10'] {
    grid-column-end: 10;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='11'] {
    grid-column-end: 11;
  }
  /* line 713, velvet.scss */
  .v-cell[data-xl-column-end='12'] {
    grid-column-end: 12;
  }
  /* line 717, velvet.scss */
  .v-cell[data-xl-column-end='end'] {
    grid-column-end: end;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='1'] {
    grid-row: span 1;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='2'] {
    grid-row: span 2;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='3'] {
    grid-row: span 3;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='4'] {
    grid-row: span 4;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='5'] {
    grid-row: span 5;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='6'] {
    grid-row: span 6;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='7'] {
    grid-row: span 7;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='8'] {
    grid-row: span 8;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='9'] {
    grid-row: span 9;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='10'] {
    grid-row: span 10;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='11'] {
    grid-row: span 11;
  }
  /* line 723, velvet.scss */
  .v-cell[data-xl-row-span='12'] {
    grid-row: span 12;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='1'] {
    grid-row-start: 1;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='2'] {
    grid-row-start: 2;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='3'] {
    grid-row-start: 3;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='4'] {
    grid-row-start: 4;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='5'] {
    grid-row-start: 5;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='6'] {
    grid-row-start: 6;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='7'] {
    grid-row-start: 7;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='8'] {
    grid-row-start: 8;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='9'] {
    grid-row-start: 9;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='10'] {
    grid-row-start: 10;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='11'] {
    grid-row-start: 11;
  }
  /* line 730, velvet.scss */
  .v-cell[data-xl-row-start='12'] {
    grid-row-start: 12;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='1'] {
    grid-row-end: 1;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='2'] {
    grid-row-end: 2;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='3'] {
    grid-row-end: 3;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='4'] {
    grid-row-end: 4;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='5'] {
    grid-row-end: 5;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='6'] {
    grid-row-end: 6;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='7'] {
    grid-row-end: 7;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='8'] {
    grid-row-end: 8;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='9'] {
    grid-row-end: 9;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='10'] {
    grid-row-end: 10;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='11'] {
    grid-row-end: 11;
  }
  /* line 737, velvet.scss */
  .v-cell[data-xl-row-end='12'] {
    grid-row-end: 12;
  }
  /* line 743, velvet.scss */
  .v-cell[data-xl-align-self='stretch'] {
    align-self: stretch;
  }
  /* line 747, velvet.scss */
  .v-cell[data-xl-align-self='center'] {
    align-self: center;
  }
  /* line 751, velvet.scss */
  .v-cell[data-xl-align-self='start'] {
    align-self: start;
  }
  /* line 755, velvet.scss */
  .v-cell[data-xl-align-self='end'] {
    align-self: end;
  }
  /* line 759, velvet.scss */
  .v-cell[data-xl-justify-self='stretch'] {
    justify-self: stretch;
  }
  /* line 763, velvet.scss */
  .v-cell[data-xl-justify-self='center'] {
    justify-self: center;
  }
  /* line 767, velvet.scss */
  .v-cell[data-xl-justify-self='start'] {
    justify-self: start;
  }
  /* line 771, velvet.scss */
  .v-cell[data-xl-justify-self='end'] {
    justify-self: end;
  }
}
